<!DOCTYPE html>
<html lang="en">

<head>
  <title>讲座报名</title>
  <% include ../layout/layout %>
  	<link rel="stylesheet" href="<%=_src('/css/lecture/lecture-apply.min.css')%>">
    <script src="<%=_src('/lib/picker/picker.min.js')%>"></script>
    <script src="<%=_src('/lib/validform/Validform_v5.3.2_min.js')%>"></script>
</head>

<body>
  <form class="form-container" action="<%=_src(postUrl)%>" method="post" onsubmit="return checkForm()">
	  <div class="lecture-container">
	    <div class="lecture">
	      <label>1. 参与者姓名 <span class="name-asterisk">*</span></label>
	      <input type="text" name="name"  class="name">
	      <p class="name_info full"></p>
	    </div>
	    <div class="lecture">
	      <label>2. 年龄 <span class="age-asterisk">*</span></label>
	      <input type="number" name="age" class="age">
	      <p class="age_info full"></p>
	    </div>
	    <div class="lecture">
	      <label>3. 性别 <span class="sex-asterisk">*</span></label>
	      <div class="showPicker">
	        <span id="showPicker">男</span>
          <input type="hidden" name="sex" id="sex" value="男">
	      </div>
	    </div>
	    <div class="lecture">
	      <label>4. 想参加的讲座 <span class="lecture-more-asterisk">*</span></label>
	      <div class="showPicker">
	        <span id="showPickerlecture" class="lecture-more"><%=name%></span>
          <input type="hidden" name="lectureId" id="lecture" value="<%=id%>">
	      </div>
	    </div>
	    <div class="lecture-btn">
	      <button id="button" class="weui-btn weui-btn_primary"><i class="weui-icon-waiting"></i> 报名</button>
	    </div> 
       <% if (errorMessage) {%>
        <div class="space Validform_wrong">
          <%=errorMessage%>
        </div>
        <div class="space"></div>
        <%}%>
	  </div>
  </form>

  <script type="text/javascript">
  var nameEl = document.getElementById('showPicker');
  var namelecture = document.getElementById('showPickerlecture');
  var sex = document.getElementById('sex');
  var lectureInput = document.getElementById('lecture');
  var lecture = [];
  var json = '<%- JSON.stringify(json) %>';
      json = JSON.parse(json);
  for (var i = 0; i < json.length; i++) {

    json[i].text = json[i].name;
    json[i].value = json[i].id;
    lecture.push(json[i]);
  }
  var data = [{
    text: '男',
    value: 1
  }, {
    text: '女',
    value: 2
  }];

 var lecture = new Picker({
    data:[lecture],
    selectedIndex:[0],
    title:'您的选择'
 });

  var picker = new Picker({
    data: [data],
    selectedIndex: [0],
    title: '您的选择'
  });

  picker.on('picker.select', function(selectedVal, selectedIndex) {
    nameEl.innerText = data[selectedIndex[0]].text;
    sex.value = data[selectedIndex[0]].text;
  });

  lecture.on('picker.select', function(selectedVal, selectedIndex) {
    namelecture.innerText = lecture.data[0][selectedIndex[0]].text;
    lectureInput.value = selectedIndex[0];
  });

  nameEl.addEventListener('click', function() {
    picker.show();
  });

  namelecture.addEventListener('click', function() {
    lecture.show();
  });


        /*方法调用*/
        inputFn(".name");
        inputFn(".age");


 function inputFn(ele) {
            $(ele).bind('keyup blur',function(){
                var val = $(this).val();
                if(val == ""){
                   $(this).next('p').html("请将信息添加完全");
                   $(this).siblings('label').children().css({'color':'red'});
                   $("button").removeClass("submit");
                 }else{
                    $(this).next('p').html("");
                    $(this).siblings('label').children().css({'color':'#000'});    
                 };
                if($(".name").val() && $(".age").val()){
                    $("button").addClass("submit");
                  }
            });
              if($(".name").val() && $(".age").val()){
                  $("button").addClass("submit");
                } 
        }



    //验证表单 的函数
    function checkForm(){
      if($(".name").val() && $(".age").val()){
        return true;   
     }
     return false;
    }

  </script>
</body>


</html>
