<!DOCTYPE html>
<html lang="en">

<head>
  <title>报名信息</title>
  <% include ../layout/layout %>
  <link rel="stylesheet" href="<%=_src('/css/lecture/info.min.css')%>">
</head>

<body>
    <div class="weui-search-bar" id="searchBar">
          <form class="weui-search-bar__form">
              <div class="weui-search-bar__box">
                  <i class="weui-icon-search"></i>
                  <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="可搜索讲座名称或讲座关键字" required/>
                  <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
              </div>
              <label class="weui-search-bar__label" id="searchText">
                  <i class="weui-icon-search"></i>
                  <span>搜索讲座</span>
              </label>
          </form>
          <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
    </div>
    <% data.forEach(function(data){ %>  
        <div class="info-container">
           <div class="weui-panel weui-panel_access">
                <div class="weui-panel__hd ovelflow">
                  <div class="left"><p><%=data.status%></p></div>
                  <div class="right"><a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary" id="showIOSDialog<%=data.joinId%>" onclick="getConfirm('<%=data.joinId%>')">取消报名</a></div>
                </div>
                <div class="weui-panel__bd clear">
                    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                        <div class="weui-media-box__hd lecture-left">
                            <img class="weui-media-box__thumb" src="<%=data.imgUrl%>" alt="">
                        </div>
                        <div class="weui-media-box__bd lecture-right">
                            <h4 class="weui-media-box__title"><%=data.name%></h4>
                            <p><%=data.time%>
                             （周<%=data.day %>）
                                
                            </p>
                            <p class="address"><%=data.address%></p>
                            <p>报名人：<%=data.userName%></p>
                            <p>报考号：<%=data.joinCode%></p> 
                            <p><span class="cost"><%=data.charge%></span><span class="long"> | </span>全程心管家</p>                                                                 
                        </div>
                    </a>   
                </div>
                <div class="weui-panel__ft">
                    <a href="<%=data.url%>" class="weui-cell weui-cell_access weui-cell_link activity">
                        <div class="weui-cell__bd">活动详细</div>
                        <span class="weui-cell__ft"></span>
                    </a>    
                </div>
            </div>
        </div>
        <div id="dialogs<%=data.joinId%>">
            <div class="js_dialog" id="iosDialog<%=data.joinId%>" style="display: none;">
                <div class="weui-mask"></div>
                <div class="weui-dialog">
                    <div class="weui-dialog__bd">你确定取消报名么？</div>
                    <div class="weui-dialog__ft">
                        <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default">取消</a>
                        <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" id="confirm<%=data.joinId%>">确定</a>
                    </div>
                </div>
            </div>
        </div>
    <% }) %> 
        
    
</body>
<script type="text/javascript">
       var $searchBar = $('#searchBar'),
            $searchResult = $('#searchResult'),
            $searchText = $('#searchText'),
            $searchInput = $('#searchInput'),
            $searchClear = $('#searchClear'),
            $searchCancel = $('#searchCancel');
            $searchResult.hide();

        function hideSearchResult(){
            $searchInput.val('');
        }
        function cancelSearch(){
            hideSearchResult();
            $searchBar.removeClass('weui-search-bar_focusing');
            $searchText.show();
        }
         //点击搜索
        $searchText.on('click', function(){
            $searchBar.addClass('weui-search-bar_focusing');
            $searchInput.focus();
        });
        //搜索框失去光标
        $searchInput
            .on('blur', function () {
                if(!this.value.length) cancelSearch();
            })
        ;

        //清空搜索框
        $searchClear.on('click', function(){
            hideSearchResult();
            $searchInput.focus();
        });
        //取消搜索
        $searchCancel.on('click', function(){
            cancelSearch();
            $searchInput.blur();
        });

        

        

        function getConfirm(id){
           $('#iosDialog'+id).fadeIn(0);
            console.log(id);
            $('#dialogs'+id).on('click', '.weui-dialog__btn', function(){
              $(this).parents('.js_dialog').fadeOut(0);
            });
            $("#confirm"+id).on('click',function(){

                $.ajax({
                    url:"http://139.224.186.36/pci-micro/api/lecture/join/cancel",
                    type:"POST",
                    contentType:"application/json;charset=UTF-8",
                    data: JSON.stringify({joinId:id,openId:"ox0ThwtVjZiQMWLCx3SwupAqG4zk"}),
                    success:function(msg){
                        console.log(msg);
                        
                    }
               });
            })
       }
            

        //取消报名
        $("#confirm").on('click',function(){

        })
        //搜索讲座关键字
        jQuery.expr[':'].Contains = function(a,i,m){
            return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
        };
          function filterList(list) { 
          $($searchInput)
              .change( function () {
                var filter = $(this).val();
                if(filter) {
                  $matches = $(list).find('h4:Contains(' + filter + ')').parents();
                  console.log($matches);
                  $(list).not($matches).hide();
                  $matches.show();
                } else {
                  $(list).show();
                }
                return false;
              })
            .keyup( function () {
                $(this).change();
            });
          }
          $(function () {
            filterList($(".info-container"));
          });

</script>
</html>