<!DOCTYPE html>
<html lang="en">

<head>
    <title>找医生</title>
    <% include ../layout/layout %>
    <link rel="stylesheet" href="<%= _src('/css/basic/basic.min.css') %>">
    <script src="<%= _src('/lib/validform/Validform_v5.3.2_min.js') %>"></script>
</head>

<body>
<div class="page">
    <div class="page__bd">
        <div class="weui-search-bar" id="searchBar">
            <form class="weui-search-bar__form">
                <div class="weui-search-bar__box">
                    <i class="weui-icon-search"></i>
                    <input type="search" class="weui-search-bar__input" style="color: #000" placeholder="输入医生姓名搜索"
                           id="searchInput" required/>
                    <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                </div>
                <label class="weui-search-bar__label search-text" id="searchText">
                    <i class="weui-icon-search"></i>
                    <span>输入医生姓名搜索</span>
                </label>
            </form>
            <a href="javascript:" class="weui-search-bar__cancel-btn" style="font-size: 14px;" id="searchCancel">取消</a>
        </div>
        <div class="show-hospital" onclick="showHospital(keywords)">
            <button class="btn-hospital" href="javascript:;" id="showPicker">
                <span>全部医院</span><img class="img-down" src="<%= _src('/image/arrow-down.png') %>">
            </button>
        </div>
        <div class="weui-cells searchbar-result" style="margin-top: 0" id="searchResult">
        </div>
    </div>
</div>
</body>
</html>
<style>
    .search-text {
        line-height: 1em;
        padding-top: 3px;
    }

    .show-hospital {
        padding: 10px 0;
        width: 100%;
        text-align: center;
        background-color: white;
    }

    .btn-hospital {
        color: #35B2F2;
        width: 100%;
        height: 100%;
        font-size: 16px;
        border: none;
        border-radius: 0
    }

    .img-down {
        margin-left: 10px;
        width: 8.5px;
        height: 5px;
        margin-bottom: 3px;
    }

    .doctor-introduce {
        height: 75px;
        width: 100%;
    }

    .doctor-img {
        width: 15%;
        float: left;
        margin-top: 5px;
    }

    .img-doctor {
        width: 48px;
        height: 48px;
        border-radius: 24px;
    }

    .doctor-info {
        width: 63%;
        float: left;
        line-height: 25px;
    }

    .doctor-name {
        color: #333;
        font-size: 16px;
    }

    .doctor-title {
        color: #666;
        font-size: 14px;
    }

    .doctor-hospital {
        color: #999;
        font-size: 14px;
    }

    .doctor-btn {
        width: 20%;
        float: right;
        margin-top: 20px;
    }

    .btn-doctor {
        height: 27px;
        width: 70px;
        float: right;
        color: #35B2F2;
        border: 1px solid #35B2F2;
        background-color: white;
        border-radius: 50px
    }
    .active{
        color: #ccc;
        border: 1px solid #ccc;
    }
</style>
<script type="text/javascript">
    var url = "<%= url %>"
    var url2 = "<%= url2 %>"
    var userId = 68
    var keywords = ''
    var hospitalId = 0
    var doctorList
    var active = 'active'
    var hospitalList
    showDoctor('', 0);

    function showDoctor(keywords, hospitalId) {
        $.ajax({
            type: "get",
            url: `${url}api/relation/findDoctor/${userId}`,
            data: {keywords: keywords, hospitalId: hospitalId},
            success: function (data) {
                doctorList = data.data.content;
                var $searchResult = $('#searchResult')
                var applyStatus
                for (var i = 0; i < doctorList.length; i++) {
                    if (doctorList[i].applyStatus === 0) {
                        applyStatus = '报到'
                        active = ''
                    } else if (doctorList[i].applyStatus === 1) {
                        applyStatus = '等待中'
                    } else if (doctorList[i].applyStatus === 2) {
                        applyStatus = '已报到'
                    } else if (doctorList[i].applyStatus === 3) {
                        applyStatus = '等待中'
                    }
                    $searchResult.append(`<div class="weui-cell weui-cell_access">
                <div class="weui-cell__bd weui-cell_primary doctor-introduce">
                    <div class="doctor-img">
                    <img class="img-doctor" id="doctorPic" src="${doctorList[i].doctorPic}">
                    </div>
                    <div class="doctor-info">
                        <p class="doctor-name" id="doctorName">${doctorList[i].doctorName}</p>
                        <p class="doctor-title">${doctorList[i].department} ${doctorList[i].doctorTitle}</p>
                        <p class="doctor-hospital">${doctorList[i].hospitalName }</p>
                    </div>
                    <div class="doctor-btn" id="doctor">
                        <button id="${i}" class="btn-doctor ${active}">${applyStatus}</button>
                    </div>
                </div>
            </div>`)
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    };

    function showHospital(keywords) {
        $.ajax({
            type: "get",
            headers: {
                'access-token': 'f500475f-7fed-4c4c-95ad-c7beaaf2d182'
            },
            url: `${url2}api/user/option`,
            success: function (hospitalList) {
                hospitalList = hospitalList.data.hospitalList;
                for (let i = 0; i <hospitalList.length; i ++) {
                    hospitalList[i].label = hospitalList[i].name;
                    hospitalList[i].value = hospitalList[i].id;
                }
                weui.picker(hospitalList, {
                    onConfirm: function (result) {
                        hospitalId = result[0].id
                        $('#searchResult').html('');
                        showDoctor(keywords, hospitalId);
                    }
                });
            },
            error: function (err) {
                console.log(err);
            }
        });
    };


    $(function () {
        var $searchBar = $('#searchBar'),
            $searchResult = $('#searchResult'),
            $searchText = $('#searchText'),
            $searchInput = $('#searchInput'),
            $searchClear = $('#searchClear'),
            $searchCancel = $('#searchCancel');

        function cancelSearch() {
            $searchBar.removeClass('weui-search-bar_focusing');
            $searchText.show();
            $('#searchResult').html('');
            showDoctor('', 0);
        }

        $searchText.on('click', function () {
            $searchBar.addClass('weui-search-bar_focusing');
            $searchInput.focus();
        });
        $searchInput
            .on('blur', function () {
                if (!this.value.length) cancelSearch();
            })
            .on('input', function () {
                if (this.value.length) {
                    keywords = this.value;
                    $searchResult.show();
                    $('#searchResult').html('');
                    showDoctor(keywords, hospitalId);

                } else {
                    $searchResult.hide();
                }
            })
        ;
        $searchClear.on('click', function () {
            $searchInput.val('');
            keywords = '';
            $searchInput.focus();
        });
        $searchCancel.on('click', function () {
            cancelSearch();
            $searchInput.blur();
        });
    });

    $('#searchResult').on('click', '.btn-doctor', function() {
        let id  = $(this).attr('id')
        let data = doctorList[id]
        if ($(this).html() === '报到') {
            window.location.href = `<%=_src('/find-doctor/check-in')%>?doctorId=${data.doctorId}&&doctorPic=${data.doctorPic}&&doctorName=${data.doctorName}&&department=${data.department}&&hospitalName=${data.hospitalName}&&doctorTitle=${data.doctorTitle}`
        }
    });

</script>
