<!DOCTYPE html>
<html lang="en">

<head>
  <title>全程心管家</title>
  <% include ../layout/layout %>
  <link rel="stylesheet" href="<%=_src('/css/assessment/assessment.min.css')%>">
</head>

<body style="background-color:#f6f6f6">
  <div class="result">
    <p class="result-title">风险评估结果</p>
    <p class="result-date"><%=month%>月<%=date%>日</p>
    <p class="result-content">
    亲爱的<%=name%>,此次您的<%=year%>年风险FRS评估为
    <%if(level == '低') {%>
    <span style="color:#13c26e;"><%=result%></span>
    <%}else if(level == '中') {%>
    <span style="color:#f5a623;"><%=result%></span>
    <%}else if(level == '高') {%>
    <span style="color:#ff0000;"><%=result%></span>
    <%}%>
    ,风险等级
    <%if(level == '低') {%>
    <span style="color:#13c26e;"><%=level%></span>
    <%}else if(level == '中') {%>
    <span style="color:#f5a623;"><%=level%></span>
    <%}else if(level == '高') {%>
    <span style="color:#ff0000;"><%=level%></span>
    <%}%>
    </p>
    <button class="result-btn" onclick="self.location=document.referrer;">再测一次</button>
  </div>
</body>
</html>
