<!DOCTYPE html>
<html lang="en">

<head>
  <title>添加新家庭成员</title>
  <% include ../layout/layout %>
    <link rel="stylesheet" href="<%=_src('/css/basic/account-bind.min.css')%>">
    <script src="<%=_src('/lib/picker/picker.min.js')%>"></script>
    <script src="<%=_src('/lib/validform/Validform_v5.3.2_min.js')%>"></script>
</head>

<body>
  <div class="account-header">
    <img id="avatar" src="">
    <p id="name"></p>
  </div>
  <form class="account-container"  action="<%=_src(postUrl)%>" method="post">
    <div class="account-field">
      <label for="tel">1. 他／她的手机号</label>
      <input id="tel" type="tel" name="targetTel" placeholder="请输入手机号" datatype="phone" errormsg="请输入正确的11位手机号!" oninput="inputChange()" onporpertychange="inputChange()" nullmsg="请输入正确的11位手机号!">
    </div>
    <div class="account-field">
      <label>1. 您对他／她的称呼</label>
      <div class="showPicker">
        <span id="showPicker">爸爸</span>
      </div>
      <input id="title" type="text" name="targetCall" value="爸爸" class="display" placeholder="请输入称呼" required>
    </div>
    <div class="account-btn">
      <button id="button" type="submit" class="weui-btn weui-btn_primary">添加</button>
    </div>
  </form>
  <% if (errorMessage) {%>
    <div id="modalerr">
      <div class="weui-mask"></div>
      <div class="weui-dialog">
        <div class="weui-dialog__hd"><strong class="weui-dialog__title">错误提示</strong></div>
        <div class="weui-dialog__bd">
          <%=errorMessage%>
        </div>
        <div class="weui-dialog__ft">
          <a id="closeerr" href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
        </div>
      </div>
    </div>
  <%}%>
  <div id="toast" style="opacity: 0; display: none;">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
      <p class="weui-toast__content" id="toastMessage"></p>
    </div>
  </div>
  <script type="text/javascript">
  $(".account-container").Validform({
    tiptype: 3,
    postonce: true,
    datatype: {
      "phone": /^1[3|4|5|7|8][0-9]\d{8}$/
    }
  });

  function inputChange() {
    var tel = $('#tel').val();
    if (!isNaN(tel) && tel.length === 11) {
      console.log(tel);
      $.get(window.location.pathname + "/search?tel=" + tel, function(result) {
        if (JSON.parse(result).code === 0) {
          console.log(result);
          $('#avatar').attr('src', JSON.parse(result).data.avatarUrl);
          $('#name').text(JSON.parse(result).data.name);
        } else if (JSON.parse(result).code === 1000) {
          $('#avatar').attr('src', '');
          $('#name').text('');
          $('#toastMessage').text("此账号未注册”全程心管家“，请您的家人注册后进行绑定");
          $('#toast').css('display', 'block');
          $('#toast').css('opacity', '1');
          setTimeout("closeToast()", 5000);
        } else {
          $('#avatar').attr('src', '');
          $('#name').text('');
          $('#toastMessage').text(JSON.parse(result).msg || '请求错误');
          $('#toast').css('display', 'block');
          $('#toast').css('opacity', '1');
          setTimeout("closeToast()", 3000);
        }
      });
    }
  }

  function closeToast() {
    $('#toast').css('display', 'none');
    $('#toast').css('opacity', '0');
  }

  var nameEl = document.getElementById('showPicker');

  var data = [{
    text: '爸爸',
    value: 1
  }, {
    text: '妈妈',
    value: 2
  }, {
    text: '爷爷',
    value: 3
  }, {
    text: '奶奶',
    value: 4
  }, {
    text: '外公',
    value: 5
  }, {
    text: '外婆',
    value: 6
  }, {
    text: '爱人',
    value: 7
  }, {
    text: '其他',
    value: 8
  }];

  var picker = new Picker({
    data: [data],
    selectedIndex: [0],
    title: '您的选择'
  });

  picker.on('picker.select', function(selectedVal, selectedIndex) {
    nameEl.innerText = data[selectedIndex[0]].text;
    $('#title').val(data[selectedIndex[0]].text);
    if (data[selectedIndex].value == 8) {
      $('#title').val('');
      $('#title').removeClass('display');
    } else {
      $('#title').addClass('display');
    }
    console.log($('#title').val());
  });

  nameEl.addEventListener('click', function() {
    picker.show();
  });

  $('#closeerr').on('click', function() {
    $('#modalerr').css('display', 'none');
  })
  </script>
</body>

</html>
