<!DOCTYPE html>
<html lang="en">

<head>
  <title>注册</title>
  <% include ../layout/layout %>
    <link rel="stylesheet" href="<%=_src('/css/basic/basic.min.css')%>">
    <script src="<%=_src('/lib/base64/base64.min.js')%>"></script>
    <script src="<%=_src('/lib/validform/Validform_v5.3.2_min.js')%>"></script>
</head>

<body>
  <div class="container">
    <form class="form-container" action="<%=_src(postUrl)%>" method="post">
      <div class="input-field">
        <div class="weui-cell input-code">
          <div class="weui-cell__bd">
            <input type="tel" name="code" placeholder="请输入短信验证码" datatype="number" errormsg="请输入正确的验证码！">
          </div>
          <div class="weui-cell__hd">
            <button id="getcode" type="button" class="weui-vcode-btn" onclick="getCode('<%=tel%>')">获取验证码</button>
          </div>
        </div>
        <div class="space"></div>
        <!-- <input type="password" name="password" placeholder="设置密码" required> -->
        <div>
          <!--密码-->
          <input type="password" name="password" placeholder="设置密码" datatype="*6-15" errormsg="密码范围在6~15位之间！" />
          <!--确认密码-->
          <div class="space"></div>
          <input type="password" placeholder="再次输入密码" datatype="*" recheck="password" errormsg="您两次输入的账号密码不一致！" />
        </div>
      </div>
      <div>
        <button type="submit" class="weui-btn weui-btn_primary">注册</button>
      </div>
    </form>
    <div class="hint-info">
      <span class="hint-title">友情提示</span>
      <span>您可以通过该账号和密码登录全程心管家app</span>
    </div>
  </div>
  <div class="footer">
    <p>注册使用全程心管家，就表示您同意</p>
    <p>全程心管家<a href="">服务协议</a></p>
  </div>
  <div id="modal" style="display: none">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
      <div class="weui-dialog__hd"><strong class="weui-dialog__title">提示信息</strong></div>
      <div class="weui-dialog__bd" id="message">
      </div>
      <div class="weui-dialog__ft">
        <a id="close" href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
      </div>
    </div>
  </div>
  <% if (errorMessage) {%>
    <div id="modalerr">
      <div class="weui-mask"></div>
      <div class="weui-dialog">
        <div class="weui-dialog__hd"><strong class="weui-dialog__title">错误提示</strong></div>
        <div class="weui-dialog__bd">
          <%=errorMessage%>
        </div>
        <div class="weui-dialog__ft">
          <a id="closeerr" href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
        </div>
      </div>
    </div>
    <%}%>
      <script type="text/javascript">
      setfooter();

      function setfooter() {
        if ($(".container").outerHeight(true) + 104 < document.documentElement.clientHeight) {
          $('.footer').removeClass('footer_initial');
        } else {
          $('.footer').addClass('footer_initial');
        }
      }
      window.onresize = function() {
        setfooter();
      }
      </script>
      <script src="<%=_src('/js/basic/register.min.js')%>"></script>
</body>

</html>
