<!DOCTYPE html>
<html lang="en">

<head>
  <title>登录</title>
  <% include ../layout/layout %>
    <link rel="stylesheet" href="<%=_src('/css/basic/basic.min.css')%>">
    <script src="<%=_src('/lib/validform/Validform_v5.3.2_min.js')%>"></script>
    <style>
      .navigation{
        padding: 15px 0 0;
        overflow: hidden;
      }
      ul{
        list-style: none;
        overflow: hidden;
        width: 90%;
        margin: 0 auto;
      }
      .navigation li{
        float: left;
        padding:0 10px;
        color: #35b2f2;
        font-size: 14px;
      }
      .navigation span{
        text-align: center;
        width: 24px;
        display: inline-block;
        border: 1px solid #35b2f2;
        border-radius: 12px;
      }
      .navigation li:nth-child(1) span{
        background-color: #35b2f2;
        color: #fff;
      }
    </style>
</head>

<body>
  <div class="container">
    <% if (doctor === 'doctor') { %>
    <div class="navigation">
      <ul>
        <li><span>1</span> 注册登录</li>
        <li>-------></li>
        <li><span>2</span> 向医生报到</li>
      </ul>
    </div>
    <% } %>
    <form class="form-container">
      <div class="input-field">
        <input type="tel" name="tel" placeholder="请输入手机号" datatype="phone" errormsg="请输入正确的11位手机号!">
      </div>
      <div>
        <button class="weui-btn weui-btn_primary">下一步</button>
      </div>
    </form>
    <div class="hint-info">
      <span class="hint-title">友情提示</span>
      <span>请先注册登录，登录后可找医生、查看健康档案、使用健康管理等。</span>
    </div>
  </div>
  <% if (errorMessage) {%>
    <div id="modalerr">
      <div class="weui-mask"></div>
      <div class="weui-dialog">
        <div class="weui-dialog__hd"><strong class="weui-dialog__title">错误提示</strong></div>
        <div class="weui-dialog__bd" id="message">
          <%=errorMessage%>
        </div>
        <div class="weui-dialog__ft">
          <a id="closeerr" href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
        </div>
      </div>
    </div>
  <%}%>
  <script src="<%=_src('/js/basic/login.min.js')%>"></script>
</body>
</html>
<script>
  $(".weui-btn").on('click',function() {
    $.ajax({
      type: 'post',
      url: "<%=_src('/login?status='+status+'&doctor='+doctor)%>",
      data: $(".input-field input").val(),
      success: function(res) {
        console.log(res)
      },
      error:function (err) {
        console.log(err)
      }
    })
  })
</script>









